@model Yemen_Broker.ViewModels.CarViewModel
   


@using (Html.BeginForm("Create", "Cars", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div style="padding:5px 80px;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="text-danger">@ViewBag.chooseImage</div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="form-group">
                    <p style="padding:0 18px;">  @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label" })</p>
                    <div class="col-md-12">

                        @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="form-group">
                    <p style="padding:0 18px;">
                        @Html.LabelFor(Model => Model.AdPrice, htmlAttributes: new { @class = "control-label" })
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.AdPrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AdPrice, "", new { @class = "text-danger" })
                        </div>
                        <p>Riyal Yamani</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <p style="padding:0 18px;">
                        @Html.LabelFor(model => model.AdDescribtion, htmlAttributes: new { @class = "control-label" })
                    </p>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.AdDescribtion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdDescribtion, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <p style="padding:0 18px;">
                        @Html.LabelFor(model => model.AdTitle, htmlAttributes: new { @class = "control-label" })
                    </p>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.AdTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdTitle, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>

            <div class="col-md-6 ">
                <div class="form-group">
                    <p style="padding:0 18px;">
                        @Html.LabelFor(model => model.CarCompany, htmlAttributes: new { @class = "control-label" })
                    </p>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CarCompany, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CarCompany, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <p style="padding:0 18px;">
                        @Html.LabelFor(model => model.CarName, htmlAttributes: new { @class = "control-label" })
                    </p>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CarName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CarName, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <p style="padding:0 18px;">
                        @Html.LabelFor(model => model.CarType, htmlAttributes: new { @class = "control-label" })
                    </p>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.CarType, new List<SelectListItem>{
                             new SelectListItem{Text="Personal",Value="Personal"},
                             new SelectListItem{Text="Bus",Value="Bus"},
                             new SelectListItem{Text="Van",Value="Van"},
                             new SelectListItem{Text="Sport",Value="Sport"},
                             new SelectListItem{Text="Other",Value="Other"},
                             },new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CarType, "", new { @class = "text-danger" })
                                                    </div>

                </div>
            </div>


            <div class="col-md-6 ">
                <div class="form-group">
                    <p style="padding:0 18px;">
                        @Html.LabelFor(model => model.TypeofGas, htmlAttributes: new { @class = "control-label" })
                    </p>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.TypeofGas, new List<SelectListItem>{
                       new SelectListItem{Text="Petrol",Value="Petrol"},
                       new SelectListItem{Text="Deisel",Value="Deisel"},
                       new SelectListItem{Text="Electric",Value="Electric"},
                   },new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TypeofGas, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <p style="padding:0 18px;">
                        @Html.LabelFor(model => model.TypeofGear, htmlAttributes: new { @class = "control-label" })
                    </p>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.TypeofGear, new List<SelectListItem>{
                       new SelectListItem{Text="Automatic",Value="Automatic"},
                       new SelectListItem{Text="Normal",Value="Normal"},
                       new SelectListItem{Text="Both",Value="Both"},
                   },new { @class = "form-control" })
                        @* @Html.EditorFor(model => model.TypeofGear, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.TypeofGear, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <p style="padding:0 18px;">
                        @Html.LabelFor(model => model.CarModel, htmlAttributes: new { @class = "control-label" })
                    </p>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CarModel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CarModel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="form-group">
                    <p style="padding:0 18px;">
                        @Html.LabelFor(model => model.EngineType, htmlAttributes: new { @class = "control-label" })
                    </p>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.EngineType, new List<SelectListItem>{
                                        new SelectListItem{Text="Physical",Value="Physical"},
                                        new SelectListItem{Text="Electrical",Value="Electrical"},
                                         new SelectListItem{Text="Hypered",Value="Hypered"},
                                    },new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EngineType, "", new { @class = "text-danger" })
                                </div>
                </div>
            </div>            
            
            <div class="col-md-6 ">
                <div class="form-group">
                    <p style="padding:0 18px;">
                        @Html.LabelFor(model => model.CarColor, htmlAttributes: new { @class = "control-label" })
                    </p>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CarColor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CarColor, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>          
            
            <div class="col-md-6 ">
                <div class="form-group">
                    <p style="padding:0 18px;">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                    </p>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.Status, new List<SelectListItem>{
                   new SelectListItem{Text="New",Value="New"},
                   new SelectListItem{Text="Second Hand",Value="Second Hand"},
               },new { @class = "form-control" })
                        @*@Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--no edite-->
    <div style="background:url(../../Content/images/parts.png) no-repeat;margin-left:-2px;height:50px;width:222px;"><h4 style="padding:13px;"> <b> 3- Add photo:</b></h4></div>
    <div style="padding:5px 20px; text-align:left;">
        <div class="row">
            <div class="form-group">
                <p style="padding:0 18px;">
                    @Html.LabelFor(model => model.Pictures, htmlAttributes: new { @class = "control-label" })
                </p>
                <div class="col-md-10">
                    <input type="file" class="multiple" name="files" multiple />

                    @Html.ValidationMessageFor(model => model.Pictures, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div style="padding:5px 60px; text-align:left;">
        <div class="row">
            <div class="form-group">
                <div class="col-md-12" style="padding:0 25px;">
                    <input type="submit" value="Save and Submit Ad " class="btn btn-warning" style="height:50px; width:100%;opacity:100;" />
                </div>
            </div>
        </div>
    </div>
}



