@model Yemen_Broker.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h1 style="text-align:center;"><b>@ViewBag.Title page </b></h1>
<div class="row" style="margin:20px 0 0 200px;">
    <div class="col-md-9" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="col-md-4">
            <div style="border-right:2px solid rgba(0, 0, 0, 0.19);text-align:center;margin:20px 0;">
                <img src="~/Content/images/Forgetpass.png" style="width:200px;height:200px;margin-left:-20px;" />
                <h3 style="margin-left:-20px;"><b>Forgot password? </b></h3>
            </div>
        </div>
        <div class="col-md-8">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 style="text-align:left"><b>Enter your email.</b> </h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div>@Html.LabelFor(m => m.Email, new { @class = "control-label" })</div>
                    <div class="col-md-12">
                        <form class="form-inline">
                            <div class="input-group">
                                <span class="input-group-addon"><img src="~/Content/gmail.png" style="height:20px;width:20px;" /></span>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </form>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br /><br />
                <div class="form-group">
                    <div class=" col-md-10">
                        <input type="submit" value="Email Link" class="btn btn-success" style="width:250px;height:40px;border-radius:50px;margin-left:30px;" />
                    </div>

                </div>
            }
        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
