
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Yemen Broker</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/mystyle.css")
    @Styles.Render("~/Content/footer_style.css")
    @Scripts.Render("~/bundles/modernizr")


    <script type="text/javascript" src="~/Scripts/myJS.js">
        alert("This alert box was called with the onload event");
    </script>
    <!--bootstrap lined-->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Content/bootstrap4-offline/javascript.js"></script>
    <script src="~/Content/bootstrap4-offline/jquery.js"></script>


</head>
@*carousel();*@
<body >
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#fafafa; ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar" style="color:black;"></span>
                    <span class="icon-bar" style="color:black;"></span>
                    <span class="icon-bar" style="color:black;"></span>
                </button>
                <a href="/Home/Index"><img src="~/Content/images/logoYB.png" /> </a>

            </div>

            <div class="col-md-4 float-right" id="navtop">
                @Html.Partial("_LoginPartial")
            </div>

            <div class=" col-md-5 float-left" id="navtop">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdowncatogre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:none;margin-top:10px;height:30px;width:100px;float:left;color:black;margin-left:-5px;">
                                <b>Categories</b>    <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdowncatogre" style="background-color:white;padding:5px 10px 5px 10px;margin-top:65px;">
                                <a href="/Ads/Properties"><b>Propertes.</b></a><br />
                                <a href="/Cars/index"><b>Cars.</b></a><br />
                                <a href="/Mobiles/index"><b>Mobiles.</b></a><br />
                                <a href="/Computers/index"><b>Computers.</b></a><br />
                                <a href="/Ads/index"><b>Others.</b></a><br />
                                <a href="/Orders/index"><b>Orders.</b></a><br />
                            </div>
                        </div>
                    </li>
                    <li>@Html.ActionLink("Home", "Index", "Home") </li>
                    <li>@Html.ActionLink("About US", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact US", "Contact", "Home")</li>

                </ul>
            </div>
        </div>
    </div>

    <!-- main-->
    <div class="container body-content" style="margin-top:40px;">
        @RenderBody()
        <hr />
    </div>
    <!-- Footer -->
    <!-- Site footer -->
    <footer class="site-footer " style="width:100%;bottom:-20px;position:relative;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="">Propertes</a></li>
                        <li><a href="">Cars</a></li>
                        <li><a href="">Mobiles</a></li>
                        <li><a href="">Computers</a></li>
                        <li><a href="">Others</a></li>
                        <li><a href="">Orders</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li>@Html.ActionLink("Home", "Index", "Home") </li>
                        <li>@Html.ActionLink("About US", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact US", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <p class="copyright-text" style="text-align:center;">
                        &copy; @DateTime.Now.Year - My ASP.NET Application
                    </p>
                </div>
            </div>
        </div>
    </footer>
   

    <!-- End Style footer-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
