@model Yemen_Broker.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@*<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

<h1 style="text-align:center;"><b>@ViewBag.Title page </b></h1>
<div class="row" style="margin:20px 0 0 200px;">
    <div class="col-md-9" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="col-md-4">
            <div style="border-right:2px solid rgba(0, 0, 0, 0.19);text-align:center;margin:20px 0;">
                <img src="~/Content/images/userlogin.png" style="width:200px;height:200px;margin-left:-20px;" />
                <h2 style="margin-left:-20px;"><b>@ViewBag.Title page</b></h2>
            </div>
        </div>
        <div class="col-md-8">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {


                @Html.AntiForgeryToken()
                <h4 style="text-align:left"><b>Change Password Form</b> </h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="margin-left:-15px;">
                    <div>@Html.LabelFor(m => m.OldPassword, new { @class = " control-label" })</div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><img src="~/Content/images/password.png" style="height:20px;width:20px;" /></span>
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-left:-15px;">
                    <div>@Html.LabelFor(m => m.NewPassword, new { @class = " control-label" })</div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><img src="~/Content/images/password.png" style="height:20px;width:20px;" /></span>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-left:-15px;">
                    <div>@Html.LabelFor(m => m.ConfirmPassword, new { @class = " control-label" })</div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><img src="~/Content/images/password.png" style="height:20px;width:20px;" /></span>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class=" col-md-10">
                        <input type="submit" value="Change password" class="btn btn-success" style="width:250px;height:40px;border-radius:50px;margin-left:15px;" />
                    </div>
                    <br /><br /><br />
                    <div style="margin: 0 0 0 80px;">
                        @Html.ActionLink("Go Back", "index")
                    </div>
                </div>

                @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@


            }
        </div>
    </div>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}}