@model IEnumerable<Yemen_Broker.Models.Subscription>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubscriptionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubscriptionPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubscriptionDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubscripsionSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubscriptionPeriod)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubscriptionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubscriptionPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubscriptionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubscripsionSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubscriptionPeriod)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubscriptionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubscriptionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubscriptionId })
        </td>
    </tr>
}

</table>
