@model IEnumerable<Yemen_Broker.Models.Ad>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdDescribtion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discriminator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdDescribtion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discriminator)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdId })
        </td>
    </tr>
}

</table>
