@model Yemen_Broker.ViewModels.MyAdsViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "AdminManage";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminManage</title>
</head>
<body>

    <div>
        <div style="background-color:#f7e89d;width:100%;padding:5px 20px;font-size:larger;margin-bottom:20px;"> <p><b>Welcome to Management Ads page From The Admin.</b></p></div>
        <div id="menucontent">
            <!-- start Ads section-->
            <div id="Adsconte" style="display:block">
                <nav class="navbar navbar-dark" style="background-color:#f1f1f1">
                    <h4 class="navbar-brand col-md-7"><b>@Model.Ads.Count()</b><b> Ads</b></h4>
                    @using (Html.BeginForm())
                    {
                        @Html.TextBox("SearchString", Model.SearchString, new { @placeholder = "Search here..", @style = "height:33px;width:100%;margin:20px 0 0 40px;" })
                        <button class="btn btn-danger my-2 my-sm-0" type="submit" style="height:33px;width:100px;opacity:100;margin-top:-3px">Search</button>
                    }
                </nav>
                @if (Model.Ads.Count() <= 0)
                {
                    <div style="text-align :center; display:block">
                        <h3>No Ads</h3>
                        <h1><b>The Ads list is empty</b></h1>
                    </div>
                }
                <div>
                    <p class="text-success">
                        @(String.IsNullOrWhiteSpace(Model.SearchString) ? "Showing all" : "You search for " + Model.SearchString + " found") @Model.Pager.TotalItems Others
                    </p>
                    <!--star show Ads-->
                    @foreach (var ad in Model.Ads)
                    {
                        <div style="border:1px dotted #808080;border-radius:10px;margin:5px;" class="row">

                            <div style="margin:5px 5px 5px -5px;" class="col-md-3 float-left">
                                @foreach (var v in ViewBag.Views)
                                {
                                    <div style="position:absolute; color:black;background-color:#f1f1f1;height:20px;width:auto;padding:2px 5px;">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                        @if (v.AdId.Equals(ad.AdId) && v.UserId.Equals(User.Identity.GetUserId()))
                                        {<div style="display:inline;margin:-12px 0 0 5px;">@v.ViewDate.ToShortDateString()</div>}
                                    </div>
                                } <img src="~/Uploads/@Html.DisplayFor(a=>ad.Pictures.FirstOrDefault().PictureURL)" alt="img1" style="width:270px;height:170px">
                            </div>
                            <div class="col-md-9 float-right">
                                <div>
                                    <div class="col-md-10">
                                        <h3>@ad.AdTitle</h3>
                                        <div style="text-align:left;">
                                            <i class="glyphicon glyphicon-map-marker"></i>  @ad.City.Name
                                        </div>
                                        <div style="text-align:left;">
                                            <i class="glyphicon glyphicon-th"></i> @ad.AdDescribtion
                                        </div>
                                        <br />
                                        <div style="text-align:center;margin:10px 0 10px 0;">
                                            <div class="col-md-6 float-left" style="margin-top:4px;text-align:center;background-color:royalblue;height:50px; width:300px;padding-top:15px;">
                                                <a href="/Wishlists/Add/@ad.AdId" style="color:white;">
                                                    <div><b><i class="glyphicon glyphicon-heart"></i> Add to favorites</b></div>
                                                </a>
                                            </div>

                                            <a href="/Messages/Chat/@ad.UserId" class="col-md-6 float-left" style="margin:4px 0 0 10px;height:50px; width:300px;color:white;background-color:orange;padding-top:15px">
                                                <div><b><i class="glyphicon glyphicon-envelope float-left"></i> Chat  </b></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-2 float-right">
                                        <br />
                                        <h4 style="color:red;"><b>YR @ad.AdPrice</b></h4>
                                        <button class="btn btn-success" style="height:30px; width:100px;">
                                            <div id="conformorrejct"><b><i class="glyphicon glyphicon-ok-circle"></i>  @Html.ActionLink("Confirm", "ConfirmOrReject", new { id = ad.AdId, isConfirm = true })</b></div>
                                        </button>
                                        <button class="btn btn-danger" style="height:30px; width:100px;">
                                            <div id="conformorrejct">
                                                <b>
                                                    <i class="glyphicon glyphicon-remove-circle"></i>
                                                    @if (ad.Rejected)
                                                    {
                                                        <i>Rejected</i>
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("Reject", "ConfirmOrReject", new { id = ad.AdId, isReject = true })
                                                    }
                                                </b>
                                            </div>
                                        </button>
                                        <div style="margin-top:4px;text-align:center;background-color:#f0f0f0;height:50px; width:100px;padding-top:15px;">
                                            <a href="/Ads/Details/@ad.AdId" style="color:black;">
                                                <div><b><i class="glyphicon glyphicon-info-sign"></i>  see more</b></div>
                                            </a>
                                        </div>
                                        <style>
                                            #conformorrejct b a {
                                                color: white;
                                                padding: 3px;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!--end show Ads -->

                </div>
            </div>
            <!-- End Ads section-->

        </div>
        <style>

            #menucontent {
                border: 1px solid #808080;
                margin: 24px 0 20px 0;
                padding: 10px;
            }
        </style>
    </div>
</body>
</html>


<!-- pager -->
@if (Model.Pager.EndPage > 1)
{
    <p>
        Page @(Model.Pager.PageSize > Model.Pager.CurrentPage ? 1 : Model.Pager.CurrentPage) of @Model.Pager.TotalPages
    </p>
    <nav>
        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("ManageAds","Ads",new {SearchString=Model.SearchString})">
                        First
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("ManageAds","Ads",new { page=Model.Pager.CurrentPage - 1, SearchString=Model.SearchString})">
                        Previous
                    </a>
                </li>
            }

            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("ManageAds","Ads",new { page=page, SearchString=Model.SearchString})">@page</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("ManageAds","Ads",new { page=Model.Pager.CurrentPage + 1, SearchString=Model.SearchString})">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("ManageAds","Ads",new { page=Model.Pager.TotalPages, SearchString=Model.SearchString})">Last</a>
                </li>
            }
        </ul>
    </nav>

}

