@model IEnumerable<Yemen_Broker.Models.Apartment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ad.AdDescribtion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloorNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfDoors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfBathrooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfKitchens)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfFinishing)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ad.AdDescribtion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfDoors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfBathrooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfKitchens)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfFinishing)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdId })
        </td>
    </tr>
}

</table>
