@model Yemen_Broker.ViewModels.LandIndexViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script>
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
        function onlyAlphabets(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                    return true;
                else
                    return false;
            }
            catch (err) {
                alert(err.Description);
            }
        }
    </script>
</head>
<body>


    <!--star search detils-->
    <div class="container" style="width:100%;height:170px; padding:30px;background-color:#fffefe;margin:30px 0;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        @using (Html.BeginForm())
        {
            <div class="col-md-3">
                @Html.DropDownList("city", null, "all", htmlAttributes: new { @class = "form-control", @style = "width:100%;height:45px;padding: 12px 20px;margin: 8px 0;display: inline-block;background-color: #f0f0f0;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;" })

            </div>
            <div class="col-md-3 ">
                <b>price:</b>
                @Html.TextBox("From", Model.From, new { @placeholder = "From", @style = "width:40%;" })
                @Html.TextBox("To", Model.To, new { @placeholder = "To", @style = "width:40%;" })
            </div>
            <div class="col-md-3">

                @Html.TextBox("SearchString", Model.SearchString, new { @placeholder = "Search Lands" })


                <style>
                    input[type=text], select {
                        width: 100%;
                        padding: 12px 20px;
                        margin: 8px 0;
                        display: inline-block;
                        background-color: #f0f0f0;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                    }
                </style>
            </div>
            <div class="col-md-3">
                <button class="btn btn-danger" style="height:45px; width:100%;margin:8px 0;opacity:100;">
                    <div><b><i class="glyphicon glyphicon-search"></i> SEARCH NOW</b></div>
                </button>
            </div>
        }
    </div>
    <!--end search detils-->
    <p class="text-success">
        @(String.IsNullOrWhiteSpace(Model.SearchString) ? "Showing all" : "You search for " + Model.SearchString + " found") @Model.Pager.TotalItems Lands
    </p>
    <div class="container" style="margin-top:50px;">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="row">
            @foreach (var land in Model.Lands.Where(a => a.Ad.User.DatePayingStarted != null && !a.Ad.User.Subscription.SubscriptionType.Equals("Free")))
            {
                <div class="col-md-2 float-left" style="padding:10px;border:solid 2px #fcb200;margin-right:20px;margin-bottom:15px;">
                    <div>

                        <div style="width:100%;height:120px;margin-bottom:38px;">
                            <p style="background-color:#fcb200;color:black;margin:-20px 0 0 0;padding-left:10px;border-radius:20px;width:50px;"><b></b></p>
                            @{
                                bool x = false;
                            }
                            @foreach (var w in ViewBag.Wishlists)
                            {
                                if (w.AdId.Equals(land.AdId) && w.UserId.Equals(User.Identity.GetUserId()))
                                {<img src="~/Content/images/vavok.png" style="float:right;margin-top:10px;" id="vav" />
                                    x = true;
                                }
                            }
                            @if (x == false)
                            {<img src="~/Content/images/vavEmpty1.png" style="float:right;margin-top:10px;" id="vav" />
                            }                            @foreach (var v in ViewBag.Views)
                            {
                                <div style="position:absolute; color:black;background-color:#f1f1f1;height:20px;width:auto;padding:2px 5px;">
                                    <i class="glyphicon glyphicon-eye-open"></i> @if (v.AdId.Equals(land.AdId) && v.UserId.Equals(User.Identity.GetUserId()))
                                    {<div style="display:inline;margin:-12px 0 0 5px;">@v.ViewDate.ToShortDateString()</div>}
                                </div>

                            }
                            <a href="/Lands/Details/@land.AdId">
                                <img src="~/Uploads/@land.Ad.Pictures.FirstOrDefault().PictureURL" style="width:100%;height:120px;" />
                            </a>
                        </div>
                        <P><b>@land.Ad.AdTitle</b></P>
                        <div>
                            <i class="glyphicon glyphicon-tags" style="float:left;font-size:15px;margin-right:5px;"></i>
                            <h6 style="color:red;"><b>YR @land.Ad.AdPrice</b></h6>
                        </div>
                        <div>
                            <i class="glyphicon glyphicon-map-marker" style="float:left;font-size:15px;margin-right:5px;"></i>
                            <P>@land.Ad.City.Name</P>
                        </div>

                        <a href="/Messages/Chat/@land.Ad.UserId" class="col-md-6 float-left" style="text-align:center ;margin-top:4px;height:50px; width:170px;color:white;background-color:orange;padding-top:15px">
                            <div><b><i class="glyphicon glyphicon-envelope float-left"></i> Chat  </b></div>
                        </a>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <!--star show car-->
            @foreach (var land in Model.Lands.Where(a => a.Ad.User.DatePayingStarted == null || a.Ad.User.Subscription.SubscriptionType.Equals("Free")))
            {
                <div style="border:1px dotted #808080;border-radius:10px;margin-bottom:15px" class="row">

                    <div style="margin:5px 5px 5px -5px;" class="col-md-3 float-left">
                        @foreach (var v in ViewBag.Views)
                        {
                            <div style="position:absolute; color:black;background-color:#f1f1f1;height:20px;width:auto;padding:2px 5px;">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                @if (v.AdId.Equals(land.AdId) && v.UserId.Equals(User.Identity.GetUserId()))
                                {<div style="display:inline;margin:-12px 0 0 5px;">@v.ViewDate.ToShortDateString()</div>}
                            </div>
                        }  <img src="~/Uploads/@land.Ad.Pictures.FirstOrDefault().PictureURL" alt="img1" style="width:270px;height:175px;">
                    </div>
                    <div class="col-md-9 float-right" style="border-left:1px solid #f1f1f1">
                        <div>
                            <div class="col-md-10">
                                <h3>@land.Ad.AdTitle</h3>
                                <div style="text-align:left;">
                                    <i class="glyphicon glyphicon-map-marker"></i>  @land.Ad.City.Name
                                </div>
                                <div style="text-align:left;">
                                    <i class="glyphicon glyphicon-th"></i> @land.Ad.AdDescribtion
                                </div>
                                <br />
                                <div style="text-align:center;margin:10px 0 10px 0;">
                                    <div class="col-md-6 float-left" style="margin-top:4px;text-align:center;background-color:royalblue;height:50px; width:300px;padding-top:15px;">
                                        <a href="/Wishlists/Add/@land.AdId" style="color:white;">
                                            <div><b><i class="glyphicon glyphicon-heart"></i> Add to favorites</b></div>
                                        </a>
                                    </div>

                                    <a href="/Messages/Chat/@land.Ad.UserId" class="col-md-6 float-left" style="margin:4px 0 0 10px;height:50px; width:300px;color:white;background-color:orange;padding-top:15px">
                                        <div><b><i class="glyphicon glyphicon-envelope float-left"></i> Chat  </b></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2 float-right">
                                <br />
                                <h4 style="color:red;"><b>YR @land.Ad.AdPrice</b></h4>
                                <img src="~/Content/images/Lpgin.png" class="img-circle " style="width:60px;height:60px;text-align:center;border:solid 2px #808080;border-radius:50px;margin:5px 0 0 25px;" />
                                <div style="margin-top:4px;text-align:center;background-color:#f0f0f0;height:50px; width:100px;padding-top:15px;">
                                    <a href="/Lands/Details/@land.AdId" style="color:black;">
                                        <div><b><i class="glyphicon glyphicon-info-sign"></i>  see more</b></div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--end show car -->
        </div>
    </div>
</body>
</html>

<!-- pager -->
@if (Model.Pager.EndPage > 1)
{
    <p>
        Page @(Model.Pager.PageSize > Model.Pager.CurrentPage ? 1 : Model.Pager.CurrentPage) of @Model.Pager.TotalPages
    </p>
    <nav>
        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","Lands",new {SearchString=Model.SearchString,city=Model.City,from=Model.From,to=Model.To})">
                        First
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","Lands",new { page=Model.Pager.CurrentPage - 1, SearchString=Model.SearchString,city=Model.City,from=Model.From,to=Model.To})">
                        Previous
                    </a>
                </li>
            }

            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index","Lands",new { page=page, SearchString=Model.SearchString,city=Model.City,from=Model.From,to=Model.To})">@page</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","Lands",new { page=Model.Pager.CurrentPage + 1, SearchString=Model.SearchString,city=Model.City,from=Model.From,to=Model.To})">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","Lands",new { page=Model.Pager.TotalPages, SearchString=Model.SearchString,city=Model.City,from=Model.From,to=Model.To})">Last</a>
                </li>
            }
        </ul>
    </nav>

}
